<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/budget/template/welcome.css">
    <link rel="stylesheet" href="/budget/template/welcome2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" 
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Designed login</title>


</head>
<body>
            <!-- HEADER -->
        <SECTION id="block1">
            <div class="header">
                <!-- <a href="home.html" class = "logo"> <img src="/logo/logo_orange.png" alt="Elona"></a> -->
                <div class="header-right">
                    <a href="home.html" class="active">Accueil</a>
                    <!-- <a href="services.html">Services et formules</a> -->
                    <a href="#block6_titre">Nos Services</a>
                    <!-- <a href="carriere.html">Carrières</a> -->
                    <a href="#nous_contacter">Nous contacter</a>
                </div>
            </div>
        </SECTION>


         <!-- IMAGE -->
        <SECTION id="block2">
            <div class="wrapper-1">
                <div class="box box-1">
                    <h2>Technologie et intelligence artificielle</h2>
                    <h3>Démocratiser l’accès aux nouvelles technologies et à l’intelligence artificielle pour tous
                    </h3>
                    <button type="button" onclick="document.location= '#block6_titre'">Services</button>
                </div>
            </div>
        </SECTION>
</body>
</html>