<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Budget app</h1>
    <h2>November</h2>
    <h3>Bills</h3>
    <table>
        <tr>
            <th> Sub Category</th>
            <th>Amount Assigned</th>
            <th>Amount spent</th>
        </tr>

        <tr>
            <td>Rent</td>
            <td>To add</td>
            <td>to add</td>
        </tr>

        <tr>
            <td>Phone</td>
            <td>To add</td>
            <td>to add</td>
        </tr>

    </table>

    <h3>Frequent</h3>
    
    <table>
        <tr>
            <th> Sub Category</th>
            <th>Amount Assigned</th>
            <th>Amount spent</th>
        </tr>

        <tr>
            <td>Groceries</td>
            <td>To add</td>
            <td>to add</td>
        </tr>

        <tr>
            <td>Eating out</td>
            <td>To add</td>
            <td>to add</td>
        </tr>

    </table>


    <p>Add transation</p>

    <h1>Amout in account:</h1>
    <p>To add</p>
    <h1>Piggy bank:</h1>
    <p>To add</p>

    <h2>Add transaction</h2>

</body>
</html>