@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

li {
  padding-top: 30px;
  list-style-type: none;
}

h2 {
  color: #ffffff;
}

.div.container {
  display: flex;
  pad: 0vh;
  flex-direction: row;
  align-items: flex-start;
}

.navdiv {
  /* Or instead of minwidth could disappear after certain point.  */
  min-width: 200px;
  width: 20%;
  height: 100vh;
  background-color: #655df4;
}

.content {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.box {
  display: flex;
  align-items: stretch;
}

.headercont {
  height: 20%;
  background-color: #655df4;
  opacity: 40%;
}

.categories {
  height: 80%;
  background-color: #655df4;
  opacity: 80%;
}

table, tr, th {
  
}